body {
    box-sizing: border-box;
    padding-top: 36px;
    padding-left: 156px;
    font-family: Montserrat;
}

form {
    margin-top: 16px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

legend {
    margin-left: 28px;
}


input {
    width: 100%;
    border-radius: 4px;
    padding: 0;
    border: 1px solid #808080;
}

.form>label>input {

    margin-top: 8px;
    padding-left: 16px;
    max-width: 342px;
    height: 40px;
}


.form>label>input:focus {
    border: 1px solid #4e75ff;
}

fieldset {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
        border: 1px solid #808080;
}

.form>fieldset>label {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
}

button:hover {
    background: #6c8cff;
}